
// blog page

// color variables
$offWhite: #FFFFFF;
$rustRed: #BF2603;
$dustyOrange: #FF8327;
$black: #111010;
$darkRed: #220303;

//font variables
$primary: 'Chathura', sans-serif;
$secondary: 'Tulpen One', cursive;

.blog {

    header {
        background-image: url(../../assets/bar-final-assets/blog-header-1.jpg);

        padding-top: 30px;
        li {
            list-style: none;
        }

        a {
            text-decoration: none;
        }

        // li {
        //     list-style-type: disc;
        // }

        ul {
            list-style: none;
        }
        
    }

    h1 {
        font-size: 90px;
    }

    h1,
    h2 {
        font-family: $primary;
    }

    h2 {
        font-size: 50px;
    }

    .main-content {
        display: flex;
        justify-content: space-between;

        ul {
            list-style-type: none;
        }

        li {
            margin-left: 40px;
            font-size: 30px;
            font-family: $primary;
        }
        
        ul li::before {
            content: "\2022";
            color: $rustRed;
            font-weight: bold;
            display: inline-block; 
            width: 1em;
            margin-left: -1em;
        }

    }

    span {
        color: $dustyOrange;
        font-family: $primary;
    }

    // main {
    //     width: 65%;
    // }

    .main-content > div {
        width: 60%;
    }

    aside {
        width: 30%;
        margin-top: 100px;
        
        div {
            background-color: $darkRed;
            margin-left: 20%;
            width: 90%;
            // border: solid;
            // height: 700px;
            height: 40%;
            max-height: 700px;
            padding-top: 350px;
            padding-left: 30px;
            position: relative;
            top: -320px;
        }

        img {
            position: relative;
            left: 0;
            z-index: 1;
            width: 100%;
            line-height: 1;
            // display: block;
        }

        p {
            font-size: 30px;
            font-family: $primary;
            line-height: 25px;
            font-weight: 100;
        }

        span {
            font-size: 30px;
        }



    }
    
    main {
        font-size: 22px;
        font-family: $primary;
    }

    .menu {
        border-bottom: 4px solid $dustyOrange; 
        border-left: 4px solid $dustyOrange;

        padding: 50px 70px 70px 100px;
        p {
            margin: 10px;
            font-size: 33px;
            line-height: 30px;
        }
    }

    .comments {
        padding: 50px 70px 0 100px;
        h2 {
            margin-bottom: 20px;
        }
    }

    .comment-container {
        display: flex;
        margin-bottom: 50px;

        div {
            width: 80%;
            margin-left: 5%;
        }

        img {
            height: 70px;
            width: 70px;
            margin-top: 10px;
        }

        span {
            font-size: 38px;
            font-family: $primary;
        }
        
        p {
            font-size: 33px;
            font-family: $primary;
            line-height: 23px;
        }
    }

    textarea[name=comment] {
        resize: none;
        display: block;

        border: 1px solid $dustyOrange;
        margin-top: 20px;
        width: 100%;
    }

    .comment-form {
        // border: solid;
        padding: 0 70px 70px 100px;
        input,
        textarea {
            background-color: $black;
        }

        input {
            margin-top: 20px;
            border-right: none;
            border-top: none;
            border-left: none; 
            border-bottom: 1px solid $dustyOrange;
            width: 40%;
        }
    }
    
    button {
        background-color: $rustRed;
        width: 100%;
        margin-top: 30px;
    }


}




