
// blog page

// color variables
$offWhite: #FFFFFF;
$rustRed: #BF2603;
$dustyOrange: #FF8327;
$black: #111010;
$darkRed: #220303;

//font variables
$primary: 'Chathura', sans-serif;
$secondary: 'Tulpen One', cursive;

.blog {

    header {
        background-image: url(../../assets/bar-final-assets/blog-header-1.jpg);
        padding-top: 30px;

        li {
            list-style: none;
        }

        a {
            text-decoration: none;
        }

        ul {
            list-style: none;
        }
        
    }

    h1 {
        font-size: 90px;
    }

    h1,
    h2 {
        font-family: $primary;
    }

    h2 {
        font-size: 50px;
    }

    .main-content {
        display: flex;
        justify-content: space-between;

        ul {
            list-style-type: none;
        }

        li {
            margin-left: 40px;
            font-size: 30px;
            font-family: $primary;
        }
        
        ul li::before {
            content: "\2022";
            color: $rustRed;
            font-weight: bold;
            display: inline-block; 
            width: 1em;
            margin-left: -1em;
        }

    }

    span {
        color: $dustyOrange;
        font-family: $primary;
    }

    .main-content > div {
        width: 65%;
    }

    aside {
        width: 25%;
        margin-top: 100px;
        
        div {
            background-color: $darkRed;
            margin-left: 20%;
            width: 90%;
            // border: solid;
            // height: 700px;
            height: 40%;
            max-height: 700px;
            padding-top: 350px;
            padding-left: 30px;
            position: relative;
            top: -320px;
        }

        img {
            position: relative;
            left: 0;
            z-index: 1;
            width: 100%;
        }

        p {
            font-size: 30px;
            font-family: $primary;
            line-height: 25px;
            font-weight: 100;
        }

        span {
            font-size: 30px;
        }
    }
    
    main {
        font-size: 22px;
        font-family: $primary;

        .img-wrap {
            position: relative;
            top: -150px;
            background-color: $dustyOrange;
            width: 96%;
        }

        img {
            position: relative;
            top: -10px;
            // right: -4%;
            right: -20px;
            width: 105%;
            height: 105%;
        }
    }

    .menu {
        border-bottom: 4px solid $dustyOrange; 
        border-left: 4px solid $dustyOrange;
        padding: 50px 70px 70px 100px;
        margin-top: -150px;

        p {
            margin: 20px 0;
            font-size: 33px;
            line-height: 30px;
        }

        h2 {
            margin-bottom: -30px;
        }
    }

    .comments {
        padding: 50px 70px 0 100px;
        h2 {
            margin-bottom: 20px;
        }
    }

    .comment-form {
        input,
        textarea {
            background-color: $black;
        }

        input {
            border-bottom-color: $dustyOrange;
        }

    }

    .comment-container {
        display: flex;
        margin-bottom: 50px;

        div {
            width: 80%;
            margin-left: 5%;
        }

        img {
            height: 70px;
            width: 70px;
            margin-top: 10px;
        }

        span {
            font-size: 38px;
            font-family: $primary;
        }
        
        p {
            font-size: 33px;
            font-family: $primary;
            line-height: 23px;
        }
    }

    button {
        background-color: $rustRed;
        width: 100%;
        margin-top: 30px;
        font-size: 27px;
    }

}




/* Portrait tablet and small desktops */
@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}