
// contact page

// color variables
$offWhite: #FFFFFF;
$rustRed: #BF2603;
$dustyOrange: #FF8327;
$black: #111010;
$darkRed: #220303;

//font variables
$primary: 'Chathura', sans-serif;
$secondary: 'Tulpen One', cursive;

.contact {
    header {
        background-image: url(../../assets/bar-final-assets/contact-header-1.jpg);
        padding-top: 30px;
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    ul {
        list-style: none;
    }

    h1 {
        font-family: $primary;
        font-size: 80px;
    }

    div.icons {
        padding: 0;
        margin-top: 150px;
        font-size: 25px;
    }

    i {
        margin-right: 15px;
    }

    .contact-info {
        font-size: 40px;
        font-family: $primary;
        margin-right: 80px;

    }

    .comment-form {
        background-color: $darkRed;
    }

    input {
        border-bottom-color: $offWhite;
    } 

    .input-container * {
        background-color: $darkRed;
    }

    text-area {
        background-color: $darkRed;
    }

    .main-content {
        display: flex;
        justify-content: space-between;

        
    }

    .contact-info {
        width: 30%;
    }

    .comment-form {
        width: 70%;
    }

}