html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

// font-family: 'Chathura', sans-serif;
// font-family: 'Tulpen One', cursive;

// color variables

$offWhite: #FFFFFF;
$rustRed: #BF2603;
$dustyOrange: #FF8327;
$black: #111010;
$darkRed: #220303;

// font variables

$primary: 'Chathura', sans-serif;
$secondary: 'Tulpen One', cursive;

//styles

html {
    font-size: 62.5%;
}

body {
    background-color: $black;
    color: white;
}

.container { 
    width: 90%;
    margin: 0 auto;
    max-width: 1580px;
}

img {
    width: 100%;
}

.big-heading {
    font-size: 200.4px;
    font-family: $secondary;
    // text-align: left;
    letter-spacing: 2.4px;
    color: $dustyOrange;
    font-weight: 100;
    margin: 0;
    z-index: 2;
}

.sub-heading {
    font-size: 83.2px;
    font-family: $primary;
    font-weight: bold;
    // text-align: left;
    line-height: 94.7px;
    letter-spacing: 2.2px;
    margin: 0;
    margin-top: -70px;
    color: $offWhite;
}

.medium-heading {
    font-size: 68px;
    font-family: $primary;
    font-weight: bold;
    line-height: 58px;
    letter-spacing: 2.2px;
}

.body-text {
    font-size: 39px;
    font-family: $primary;
    line-height: 30px;
    letter-spacing: 1.9px;
}

nav {
    font-size: 38px;
    font-family: $primary;
    line-height: 30px;
    letter-spacing: 1.9px;
    width: 60%;
    margin: 0 auto 205px auto;

}

header {
    background: url(../../assets/bar-final-assets/home-image-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 550px;
    position: relative;
    padding-top: 30px;
    margin-bottom: 150px;
    ul {
        display: flex;
        flex-basis: 50%;
        justify-content: space-between;
    }
}

li {
    list-style: none;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

i {
    color: white;
}

h2,
p {
    margin: 0;
}

button {
    border: none;
    background-color: $rustRed;
    color: white;
    font-family: $secondary;
    font-size: 40px;
}

.fa-circle {
    color: $rustRed;
}

.mini-logo {
    font-family: $secondary;
    text-transform: none;
    font-size: 45px;
}

.current-page {
    color: $dustyOrange;
}

.heading-container {
    position: relative;
    z-index: 5;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    div {
        text-align: left;
    }
}

.header-box {
    background: url("../../assets/bar-final-assets/header-box.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 75%;
    width: 50%;
    position: absolute;
    right: 0;
    bottom: -100px;
    z-index: 1;
}

.icons {
    padding-bottom: 70px;

    div.container{
        display: flex;
        flex-wrap: wrap;

        div.box {
            width: 50%;
            display: flex;    
            margin-bottom: 30px;
        }

        div.inner-box {
            width: 80%;
        }

        span {
            width: 10%;
            margin-top: 10px;
            margin: 10px 10px 0 0;
        }
    }
}

.grid {
    background-color: $darkRed;
    display: flex;
    flex-wrap: wrap;
    position: absolute;

    img {
        position: relative;
    }

    button {
        height: 50px;
        width: 120px;
    }

}

.grid-box {
    display: flex;
    justify-content: space-between;

    img,
    div {
        width: 42.5%;
    }

    div {
        margin-top: 70px;
    }

    p {
        margin-bottom: 20px;
    }
}

.box-one {
    flex-direction: row-reverse;
    div {
        padding-right: 90px
    }

    img {
        top: -30px;
        // width: 100%;
    }
}


.box-two {
    p {
        text-align: left;
    }

    .btn-wrap {
        text-align: right;
    }

    h2,
    button {
        text-align: right;
    }
    
    div {
        padding-left: 90px;
    }

    img {
        bottom: -30px;
    }
}


// .img-wrap {
    // background-color: $dustyOrange;
    // position: absolute;
// }
.events {
    div.container {
        display: flex;
    }
}

.info {
    margin-top: 850px;
    margin: 850px auto 80px;
    text-align: center;
    h2 {
         color: $dustyOrange;
    }
}



footer {
    background-color: #2C2C2C;
    text-align: center;
    p {
        margin: 0;
    }
}


// media queries

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}










