html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.blog header {
  background-image: url(../../assets/bar-final-assets/blog-header-1.jpg);
  padding-top: 30px;
}

.blog header li {
  list-style: none;
}

.blog header a {
  text-decoration: none;
}

.blog header ul {
  list-style: none;
}

.blog h1 {
  font-size: 90px;
}

.blog h1,
.blog h2 {
  font-family: "Chathura", sans-serif;
}

.blog h2 {
  font-size: 50px;
}

.blog .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog .main-content ul {
  list-style-type: none;
}

.blog .main-content li {
  margin-left: 40px;
  font-size: 30px;
  font-family: "Chathura", sans-serif;
}

.blog .main-content ul li::before {
  content: "\2022";
  color: #BF2603;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.blog span {
  color: #FF8327;
  font-family: "Chathura", sans-serif;
}

.blog .main-content > div {
  width: 65%;
}

.blog aside {
  width: 25%;
  margin-top: 100px;
}

.blog aside div {
  background-color: #220303;
  margin-left: 20%;
  width: 90%;
  height: 40%;
  max-height: 700px;
  padding-top: 350px;
  padding-left: 30px;
  position: relative;
  top: -320px;
}

.blog aside img {
  position: relative;
  left: 0;
  z-index: 1;
  width: 100%;
}

.blog aside p {
  font-size: 30px;
  font-family: "Chathura", sans-serif;
  line-height: 25px;
  font-weight: 100;
}

.blog aside span {
  font-size: 30px;
}

.blog main {
  font-size: 22px;
  font-family: "Chathura", sans-serif;
}

.blog main .img-wrap {
  position: relative;
  top: -150px;
  background-color: #FF8327;
  width: 96%;
}

.blog main img {
  position: relative;
  top: -10px;
  right: -20px;
  width: 105%;
  height: 105%;
}

.blog .menu {
  border-bottom: 4px solid #FF8327;
  border-left: 4px solid #FF8327;
  padding: 50px 70px 70px 100px;
  margin-top: -150px;
}

.blog .menu p {
  margin: 20px 0;
  font-size: 33px;
  line-height: 30px;
}

.blog .menu h2 {
  margin-bottom: -30px;
}

.blog .comments {
  padding: 50px 70px 0 100px;
}

.blog .comments h2 {
  margin-bottom: 20px;
}

.blog .comment-form input,
.blog .comment-form textarea {
  background-color: #111010;
}

.blog .comment-form input {
  border-bottom-color: #FF8327;
}

.blog .comment-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.blog .comment-container div {
  width: 80%;
  margin-left: 5%;
}

.blog .comment-container img {
  height: 70px;
  width: 70px;
  margin-top: 10px;
}

.blog .comment-container span {
  font-size: 38px;
  font-family: "Chathura", sans-serif;
}

.blog .comment-container p {
  font-size: 33px;
  font-family: "Chathura", sans-serif;
  line-height: 23px;
}

.blog button {
  background-color: #BF2603;
  width: 100%;
  margin-top: 30px;
  font-size: 27px;
}

.contact header {
  background-image: url(../../assets/bar-final-assets/contact-header-1.jpg);
  padding-top: 30px;
}

.contact li {
  list-style: none;
}

.contact a {
  text-decoration: none;
}

.contact ul {
  list-style: none;
}

.contact h1 {
  font-family: "Chathura", sans-serif;
  font-size: 80px;
}

.contact div.icons {
  padding: 0;
  margin-top: 100px;
  font-size: 25px;
}

.contact i {
  margin-right: 15px;
}

.contact .contact-info {
  font-size: 35px;
  font-family: "Chathura", sans-serif;
  margin-right: 80px;
  width: 20%;
  line-height: 1;
}

.contact .contact-info .info-email {
  margin: 20px 0;
}

.contact .comment-form {
  background-color: #220303;
  padding-top: 50px;
}

.contact input {
  border-bottom-color: #FFFFFF;
}

.contact .input-container * {
  background-color: #220303;
}

.contact text-area {
  background-color: #220303;
}

.contact .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .comment-form {
  width: 100%;
  margin-right: -5%;
  position: relative;
  top: -20px;
  left: -20px;
}

.contact .comment-form input,
.contact .comment-form textarea {
  background-color: #220303;
  margin: 20px 0;
}

.contact .comment-form input {
  border-bottom-color: white;
}

.contact .comment-form textarea {
  border-color: white;
}

.contact .comment-outer {
  background-color: #FF8327;
  width: 80%;
  position: relative;
  top: -140px;
}

.contact button {
  width: 100%;
  margin-top: 40px;
}

.contact footer p {
  line-height: 50px;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #111010;
  color: #FFFFFF;
  max-width: 1800px;
  margin: 0 auto;
}

.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1580px;
}

img {
  width: 100%;
}

.big-heading {
  font-size: 200.4px;
  font-family: "Tulpen One", cursive;
  letter-spacing: 2.4px;
  color: #FF8327;
  font-weight: 100;
  margin: 0;
  z-index: 2;
}

.sub-heading {
  font-size: 83.2px;
  font-family: "Chathura", sans-serif;
  font-weight: bold;
  line-height: 94.7px;
  letter-spacing: 2.2px;
  margin: 0;
  margin-top: -70px;
  color: #FFFFFF;
}

.medium-heading {
  font-size: 68px;
  font-family: "Chathura", sans-serif;
  font-weight: bold;
  line-height: 58px;
  letter-spacing: 2.2px;
}

.body-text {
  font-size: 39px;
  font-family: "Chathura", sans-serif;
  line-height: 30px;
  letter-spacing: 1.9px;
}

nav {
  font-size: 38px;
  font-family: "Chathura", sans-serif;
  line-height: 30px;
  letter-spacing: 1.9px;
  width: 60%;
  margin: 0 auto 205px auto;
}

header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 550px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .sub-heading {
  margin-left: 6px;
}

.home {
  background: url(../../assets/bar-final-assets/home-image-1.jpg);
  position: relative;
  padding-top: 30px;
  margin-bottom: 150px;
}

.home li {
  list-style: none;
}

.home a {
  text-decoration: none;
}

li {
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-transform: uppercase;
}

i {
  color: white;
}

h2,
p {
  margin: 0;
}

button {
  border: none;
  background-color: #BF2603;
  color: white;
  font-family: "Tulpen One", cursive;
  font-size: 40px;
}

.fa-circle {
  color: #BF2603;
}

.mini-logo {
  font-family: "Tulpen One", cursive;
  text-transform: none;
  font-size: 45px;
}

.current-page {
  color: #FF8327;
}

.heading-container {
  position: relative;
  z-index: 5;
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

.heading-container div {
  text-align: left;
}

.header-box {
  background: url("../../assets/bar-final-assets/header-box.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 75%;
  width: 50%;
  position: absolute;
  right: 0;
  bottom: -100px;
  z-index: 1;
}

.icons {
  padding-bottom: 70px;
}

.icons div.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.icons div.container div.box {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.icons div.container div.inner-box {
  width: 80%;
  padding-top: 10px;
}

.icons div.container span {
  width: 10%;
  margin: 10px 10px 0 0;
}

.grid {
  background-color: #220303;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid img {
  width: 100%;
  height: 100%;
  position: relative;
}

.grid button {
  height: 50px;
  width: 150px;
}

.grid .img-wrap {
  position: relative;
  background-color: #FF8327;
}

.grid-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.grid-box div {
  width: 42.5%;
}

.grid-box p {
  margin-bottom: 20px;
}

.box-one {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.box-one img {
  top: -17px;
  left: -17px;
}

.box-one .img-wrap {
  top: -10px;
}

.box-one .side-text {
  margin-top: 50px;
  padding-right: 90px;
}

.box-two p {
  text-align: left;
}

.box-two .btn-wrap {
  text-align: right;
}

.box-two h2 {
  text-align: right;
}

.box-two img {
  bottom: 17px;
  right: -17px;
}

.box-two .img-wrap {
  bottom: -37px;
  right: 17px;
}

.box-two .side-text {
  margin-top: 50px;
  padding-left: 90px;
}

.events {
  padding: 100px 0;
}

.events div.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.events .side-text {
  width: 70%;
}

.events .img-wrap {
  background-color: #FF8327;
  margin-right: 10%;
  width: 20%;
}

.events img {
  width: 100%;
  height: 100%;
  position: relative;
  top: -15px;
  left: 15px;
}

.info h2,
.events h2 {
  color: #FF8327;
}

.info p,
.events p {
  margin: 20px 0;
}

.info button,
.events button {
  width: 200px;
}

.info {
  margin: 100px auto 80px auto;
  text-align: center;
}

.info .container {
  width: 70%;
}

.gallery {
  background-color: #220303;
  padding: 100px 0;
}

.gallery img {
  width: calc((100% - 100px) / 3);
}

.gallery .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer {
  background-color: #2C2C2C;
  text-align: center;
}

footer p {
  margin: 0;
}

textarea[name=comment] {
  resize: none;
  display: block;
  padding: 20px 20px;
  border: 1px solid #FF8327;
  margin-top: 20px;
  width: 100%;
  font-family: "Chathura", sans-serif;
  color: white;
  font-size: 28px;
}

.comment-form {
  padding: 0 70px 70px 70px;
}

.comment-form input {
  margin-top: 20px;
  border-right: none;
  border-top: none;
  border-left: none;
  border-bottom: 1px solid;
  display: block;
  width: 100%;
}

input {
  height: 50px;
  font-size: 20px;
  color: white;
  padding: 10px 10px;
}

::-webkit-input-placeholder {
  color: white;
  opacity: 1;
}

:-ms-input-placeholder {
  color: white;
  opacity: 1;
}

::-ms-input-placeholder {
  color: white;
  opacity: 1;
}

::placeholder {
  color: white;
  opacity: 1;
}

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.input-container div {
  width: 45%;
}

.input-container label {
  margin-left: 10px;
  font-family: "Chathura", sans-serif;
  font-size: 30px;
}

/* Portrait tablet and small desktops */
/* Landscape phone to portrait tablet */
/* Landscape phones and down */
